"""Custom class-based IDAES property package scaffold."""

from pyomo.environ import Constraint, Var, units as pyunits

from idaes.core import (
    Component,
    LiquidPhase,
    VaporPhase,
    PhysicalParameterBlock,
    StateBlock,
    StateBlockData,
    declare_process_block_class,
)


@declare_process_block_class("{{CLASS_STEM}}ParameterBlock")
class {{CLASS_STEM}}ParameterData(PhysicalParameterBlock):
    def build(self):
        super().build()
        self._state_block_class = {{CLASS_STEM}}StateBlock

{{PHASE_DECLARATIONS}}
{{COMPONENT_DECLARATIONS}}

    @classmethod
    def define_metadata(cls, obj):
        obj.add_properties(
            {
                "flow_mol": {"method": None, "units": "mol/s"},
                "temperature": {"method": None, "units": "K"},
                "pressure": {"method": None, "units": "Pa"},
            }
        )
        obj.add_default_units(
            {
                "time": pyunits.s,
                "length": pyunits.m,
                "mass": pyunits.kg,
                "amount": pyunits.mol,
                "temperature": pyunits.K,
            }
        )


class {{CLASS_STEM}}StateBlock(StateBlock):
    def initialize(self, *args, **kwargs):
{{INITIALIZE_BODY}}

    def release_state(self, *args, **kwargs):
        return None


@declare_process_block_class("{{CLASS_STEM}}State", block_class={{CLASS_STEM}}StateBlock)
class {{CLASS_STEM}}StateData(StateBlockData):
    def build(self):
        super().build()
        self.flow_mol = Var(initialize=1.0, units=pyunits.mol / pyunits.s)
        self.temperature = Var(initialize=298.15, units=pyunits.K)
        self.pressure = Var(initialize=101325, units=pyunits.Pa)
        self.mole_frac_comp = Var(
            self.config.parameters.component_list,
            initialize=1.0,
            units=pyunits.dimensionless,
        )

        if not self.config.defined_state:
            self.sum_mole_frac = Constraint(
                expr=sum(self.mole_frac_comp[j] for j in self.config.parameters.component_list)
                == 1.0
            )

    def define_state_vars(self):
{{STATE_VARS_MAP}}
