"""Test scaffold for IDAES property package validation."""

from pyomo.environ import ConcreteModel
from idaes.core import FlowsheetBlock


def build_test_model(property_package_cls, **kwargs):
    model = ConcreteModel()
    model.fs = FlowsheetBlock(dynamic=False)
    model.fs.params = property_package_cls(**kwargs)
    model.fs.props = model.fs.params.build_state_block([0], defined_state=True)
    return model


def test_build_smoke(property_package_cls, **kwargs):
    model = build_test_model(property_package_cls, **kwargs)
    assert model.fs.params is not None
    assert model.fs.props[0] is not None
